header {
	width: 100%;
	background-color: #02111b;
}

#navigation {
	margin-top: 20px;
	margin-bottom: 15px;
}

#banner {
	width: 735px;
	height: 175px;
	margin-bottom: -30px;
}

#header-container {
	position: relative;
}

/**
 * pill
 * --------------------------------------------------
 */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: white;
  background: #fc4349;
  background: -webkit-linear-gradient(#fc5c49, #fc4349);
  background: -o-linear-gradient(#fc5c49, #fc4349);
  background: -moz-linear-gradient(#fc5c49, #fc4349);
  background: linear-gradient(#fc5c49, #fc4349);
  
}
.nav-pills > li > a {
  color: #fc4349;
}

.nav {
	margin-left: 160px;
}

/**
 * profile
 * --------------------------------------------------
 */
.profile {
	display: block;
	position: absolute;
	width: auto;
	right: 5em;
	height: 220px;
	top: 0px;
	list-style-type: none
}

.profile-img {
	position: relative;
	margin-top: 60px;
	width: 64px;
	height: 64px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

.profile-img > img {
	width: 100%;
	height: 100%;
}

.profile-text {
	color: white;
}

/**
 * buttons
 * --------------------------------------------------
 */
#btn-logout {
	width: 75px;
}

.btn-danger, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled],
.btn-danger .open .dropdown-toggle.btn {
	color: white;
  	background: #fc4349;
  	background: -webkit-linear-gradient(#fc5c49, #fc4349);
  	background: -o-linear-gradient(#fc5c49, #fc4349);
  	background: -moz-linear-gradient(#fc5c49, #fc4349);
  	background: linear-gradient(#fc5c49, #fc4349);
}
